html,body{
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(25deg,#ffbe0b,#fb5607,#8338ec,#3a86ff);
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
#content_container {
    width: 30%;
    height: 70%;
}
#form_container {
    width: 100%;
    height: 100%;
    background-color: #370617;
    box-shadow:  0 0 50px -20px #000;
    border-radius: 2%;
    overflow: hidden;
}
#form_header_container {
    width: 100% ;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid transparent;
    border-image:-webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 20; 
    background: #000;
}
#form_header {
    display: inline-block;

}